{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <div class="lead">
        <h1>Register</h1>
    </div>
{% endblock header %}

{% block content %}
<form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-info" name="submit">注册</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
{% endblock content %}